/* 
	Styles.css
	by Hugh Kelley
	hughy62@gmail.com
*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
	background-color: #252830;
	color:white;
	font-family: "Fjalla One","sans-serif";
	display: flex;
	align-items: center;
}

.content {
	background-color: #200830;
	padding:10%;
	border-radius: 3em;
	width: 100%;
}


.scraperStatus {
  height: 0.9em;
  vertical-align: middle;
  padding-right: 1em;
}
.status {
  font-size: 1.3em;
}
h1 {
  font-size: 2.5em;
  text-decoration: underline;
}
.status > span {
  display: block;
  margin-top: 0.5em;
}
.status > button,.status>a {
  background: unset;
  color: unset;
  font: unset;
  border: solid 1px aliceblue;
  margin-top: 2em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.status > button[disabled] {
	opacity: 0.5;
}

.logs {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 10em;
    height: 10em;
    font-family: monospace;
    border-radius: 1em;
    padding: 0.5em;
    background: #333639;
    margin-top: 1em;
}

input {
    color: white;
    font-family: "Fjalla One","sans-serif";
    background: none;
    height: 100%;
    vertical-align: middle;
    font-size: 1em;
    width: 2em;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 2px white;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

button#do {
    background: none;
    color: white;
    font: inherit;
    border: solid 1px white;
    height: 2em;
    vertical-align: middle;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
